
@{
    ViewBag.Title = Navigation.About;
}
<hr />
<h2>@Navigation.About</h2>
<br />
<div class="container">
    The SMPhotos is the private gallery in Chernivtsi dedicated to SharpMinds workers. 
    From the latest emerging talent, to historical archives and established artists, we're the place to see photography in all its forms.
    It was created by students of C# IT Academy in November'16.
</div>

