
@{
    ViewBag.Title = Navigation.About;
}
@Styles.Render("~/Content/about/css")
<br/>
<div class="container">
    <blockquote class="pull-right">
        <p class="text-left">
            There are two ways of constructing a software design: One way is to make it<br />
            so simple that there are obviously no deficiencies, and the other way is <br />
            to make it so complicated that there are no obvious deficiencies.
        </p>
        <small>C. A. R. Hoare</small>
    </blockquote>
    </div>
<div class="wel-info text-center">
    <h2 class="text-info">@Translation.AboutUs</h2>
    <span class="brk"></span>
    <p>    The SMPhotos is the private gallery in Chernivtsi dedicated to SharpMinds workers.
    From the latest emerging talent, to historical archives and established artists, we're the place to see photography in all its forms.
    It was created by students of C# IT Academy in November'16.</p>
</div>
