
@{
    ViewBag.Title = Navigation.Contact;
}
<hr />
<h2>@Navigation.Contact</h2>
<br />
<div class="container">
    <h3>Address</h3>

    <strong>Dutch office</strong><br />
    SharpMinds B.V.<br />
    Julianalaan 1 1213 AP Hilversum
    Netherlands<br />
    <br />
    <strong>Ukrainian office</strong><br />
    SharpMinds B.V.<br />
    Sadova 16 Chernivtsi
    Ukraine<br />
    e-mail: 
    <a href="mailto:smstudents2016@gmail.com">smstudents2016@gmail.com</a>
</div>

