
@{
    ViewBag.Title = "LoadImage";
}
@Styles.Render("~/Content/loadImage/css")
@section ScriptLoad{
    @Scripts.Render("~/Scripts/imageLoad/js")
}
@using (Html.BeginForm("LoadImage", MVCManager.Controller.Home.Name, FormMethod.Post, new { @class = "form-signin" }))
{
    <div class="content">
        <div id="drop-files" ondragover="return false">
            <p>Drag an image here</p>
            <form id="frm">
                <label for="uploadbtn" class="btn btn-primary">Select Image</label>
                <input type="file" id="uploadbtn" multiple style="visibility:hidden;">
            </form>
        </div>
        <div id="uploaded-holder">
            <div id="dropped-files">
                <div id="upload-button">
                    <center>
                        <span>0 Files</span>
                        <a href="#" class="upload btn btn-primary">Browse</a>
                        <a href="#" class="delete btn btn-primary">Remoove</a>
                        <div id="loading">
                            <div id="loading-bar">
                                <div class="loading-color"></div>
                            </div>
                            <div id="loading-content"></div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
}

