.form-signin {
    padding-top: 15% !important;
    max-width: 600px;
    padding: 10%;
    margin: 0 auto;
    height: 80vh;
}
.message-div{
    padding-top: 15%;
    margin: 0 auto;
    text-align: center;
}