
.portfolio-item {
    margin: 0.5%;
    border: 1px solid #ccc;
    width: 220px;
    height: 220px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

div.portfolio-item img {
    height: 65%;
    min-width: 65%;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

div.center-cropped {
    margin: 0.5%;
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}
.content-center {
    padding-bottom: 25px;
	vertical-align:middle;
	text-align:center;
}

.btn-toolbar{
  text-align: center;
}​
.toolbar{
     padding: 20%;
 }
 .btn-group a {
    display:inline-block;
}
    div.center-cropped img {
        height: 100%;
        min-width: 100%;
        left: 50%;
        position: relative;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

div.left {
    float: left;
}

.col-centered {
    display: inline-block;
    float: none;
}

.center-cropped .glyphicon {
    position: absolute;
    top: 2%;
    margin-top: 0px; /* half icon's height */
    left: 85%;
    margin-left: 0px; /* half icon's width */
    z-index: 999;
    color: white;
    font-size: 20px;
    transition: all .25s;
    opacity: .75;
}
.center-cropped:hover .glyphicon {
    opacity: 1;
}